.mainpage {
    background-color: rgb(201, 195, 195);
    position: absolute;
    width: 98.7%;
    height: 97.2%;
    border-radius: 8px;
    display: flex;
    overflow-y: hidden;
    padding-left: 0px;
}

.accessbar {
    position: absolute;
    background-color: rgb(248, 102, 4);
    left: 0px;
    width: 12%;
    height: 102%;
}

.chat {
    position: absolute;
    left: 12%;
    width: 88%;
    height: 100%;
}

.messenger {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 20%;
}

.header {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0px;
    background-color: rgba(201, 195, 195, 0.5);
}

.messagebank {
    position: absolute;
    /*background-color: violet;*/
    top: 66px;
    width: 98%;
    height: 68%;
    padding: 10px 10px 10px 10px;
    overflow-y: scroll;
}

.header h1 {
    font-family: 'Comic Sans MS', sans-serif;
    left: 15px;
    top: 0;
    text-align: center;
    background-color: rgba(201, 195, 195, 0.5);
    border-bottom: 1px solid black;
}

.messenger input {
    position: absolute;
    left: 2%;
    top: 1%;
    width: 85%;
    height: 90%;
    border: 2px solid black;
    border-radius: 8px;
    outline: none;
    font-size: 18px;
}

.sendmess {
    position: absolute;
    left: 88%;
    top: 10%;
    width: 10%;
    height: 93%;
    background-color: rgb(201, 195, 195);
    background-image: url("sendbutton.png");
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
}

.sendmess:hover {
    background-image: url("sendbutton2.png");
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    border: none;
}

.accessbaritem h3 {
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

.subchat {
    background-color: white;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
}

.subchat h4 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.messagefaviconaway {
    background-color: white;
    float: left;
}

.messagefaviconhome {
    right: 20px;
    background-color: white;
    float: right;
}

.messagefaviconhome h4 {
    position: relative;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

.messagefaviconaway h4 {
    position: relative;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

.awaymessage {
    /*background-color: yellow;*/
    height: 100px;
    width: 100%;
    margin-top: 0px;
}

.homemessage {
    /*background-color: yellow;*/
    height: 100px;
    width: 100%;
    margin-top: 0px;
}

.nameaway {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-family: 'Comic Sans MS', sans-serif;
}

.namehome {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'Comic Sans MS', sans-serif;
}

.actualmessageaway {
    position: absolute;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
    /*background-color: rgb(0, 153, 255);
    border: 5px solid rgb(0, 153, 255);*/
    background-color: white;
    border: 5px solid white;
    border-radius: 9px;
    color: black;
    left: 28px;
    margin-top: 58px;
}

.actualmessagehome {
    position: absolute;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 15px;
    /*background-color: rgb(0, 153, 255);
    border: 5px solid rgb(0, 153, 255);*/
    background-color: rgb(0, 153, 255);
    border: 5px solid rgb(0, 153, 255);
    border-radius: 9px;
    color: white;
    right: 28px;
    margin-top: 58px;
}